tr:nth-child(even){
	background-color: #d4e3e5;
}
tr:nth-child(odd)
{
	background-color: #c3dde0;

}
th{
	font-size: 20px;
	font-weight: bold;
	

}
table,th,td,tr{
	border-color: #a9c6c9;
	border-style: solid;
	text-align: center;
	border-collapse: collapse;
	padding: 10px 10px;
	font-family:MS Reference Sans Serif;

}
table{
	margin-left: 20%;
	margin-top: 10%;

}